body {
  font-family: Georgia, Times, serif;
  color: white;
  background-color: rgb(35,35,35);
  font-size: large;
}

a {
  color:dodgerblue;
}

img {
  height: auto;
  width: 375px;
  display: block;
  margin: 0 auto;
}

.title h1 {
  color:rgb(237, 155, 100);
  background-color: rgb(70,70,70);
  font-size: xx-large;
  font-style: normal;
  font-weight: bold;
  padding: 6px;
  border: 0;
  text-align: center;
}

h1 {
  color:rgb(237, 155, 100);
  background-color: rgb(70,70,70);
  font-size: x-large;
  font-style: italic;
  font-weight: normal;
  padding: 4px;
  border: 0;
  border-bottom: 2px;
  border-style: dashed;
  border-color: white;
  margin: 16px 0;
}

p,
li {
  font-size: large;
}

p {
  padding-left: 4px;
}